# ANOVA  - Lab

## Introduction

In this lab, you'll get some brief practice generating an ANOVA table (AOV) and interpreting its output. You'll also perform some investigations to compare the method to the t-tests you previously employed to conduct hypothesis testing.

## Objectives

In this lab you will: 

- Use ANOVA for testing multiple pairwise comparisons 
- Interpret results of an ANOVA and compare them to a t-test

## Load the data

Start by loading in the data stored in the file `'ToothGrowth.csv'`:

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
# Your code here
df = pd.read_csv('ToothGrowth.csv')
df.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [5]:
df.describe()

             len       dose
count  60.000000  60.000000
mean   18.813333   1.166667
std     7.649315   0.628872
min     4.200000   0.500000
25%    13.075000   0.500000
50%    19.250000   1.000000
75%    25.275000   2.000000
max    33.900000   2.000000

In [7]:
df['supp'].value_counts().sort_values(ascending = False)

VC    30
OJ    30
Name: supp, dtype: int64

## Generate the ANOVA table

Now generate an ANOVA table in order to analyze the influence of the medication and dosage:

In [9]:
# Your code here
formula = 'len ~ C(supp) + dose'
lm = ols(formula, df).fit()
table = sm.stats.anova_lm(lm, typ=2)
table

               sum_sq    df           F        PR(>F)
C(supp)    205.350000   1.0   11.446768  1.300662e-03
dose      2224.304298   1.0  123.988774  6.313519e-16
Residual  1022.555036  57.0         NaN           NaN

## Interpret the output

Make a brief comment regarding the statistics and the effect of supplement and dosage on tooth length: 

In both cases we can reject the null hypothesis which suggests that both have an effect on len, but dose has a higher liklihood of being effective.

In [ ]:
# Your comment here

## Compare to t-tests

Now that you've had a chance to generate an ANOVA table, its interesting to compare the results to those from the t-tests you were working with earlier. With that, start by breaking the data into two samples: those given the OJ supplement, and those given the VC supplement. Afterward, you'll conduct a t-test to compare the tooth length of these two different samples:

In [10]:
# Your code here
VC = df[df['supp'] == 'VC']
OJ = df[df['supp'] == 'OJ']
VC.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [11]:
OJ.head()

     len supp  dose
30  15.2   OJ   0.5
31  21.5   OJ   0.5
32  17.6   OJ   0.5
33   9.7   OJ   0.5
34  14.5   OJ   0.5


Now run a t-test between these two groups and print the associated two-sided p-value:

In [17]:
# Calculate the 2-sided p-value for a t-test comparing the two supplement groups
from scipy import stats

stats.ttest_ind(OJ['len'], VC['len'], equal_var=False)

Ttest_indResult(statistic=1.91526826869527, pvalue=0.06063450788093387)

## A 2-Category ANOVA F-test is equivalent to a 2-tailed t-test!

Now, recalculate an ANOVA F-test with only the supplement variable. An ANOVA F-test between two categories is the same as performing a 2-tailed t-test! So, the p-value in the table should be identical to your calculation above.

> Note: there may be a small fractional difference (>0.001) between the two values due to a rounding error between implementations.

In [18]:
# Your code here; conduct an ANOVA F-test of the oj and vc supplement groups.
# Compare the p-value to that of the t-test above. 
# They should match (there may be a tiny fractional difference due to rounding errors in varying implementations)
formula = 'len ~ C(supp)'
lm = ols(formula, df).fit()
table = sm.stats.anova_lm(lm, typ=2)
table

               sum_sq    df         F    PR(>F)
C(supp)    205.350000   1.0  3.668253  0.060393
Residual  3246.859333  58.0       NaN       NaN

## Run multiple t-tests

While the 2-category ANOVA test is identical to a 2-tailed t-test, performing multiple t-tests leads to the multiple comparisons problem. To investigate this, look at the various sample groups you could create from the 2 features:

In [19]:
for group in df.groupby(['supp', 'dose'])['len']:
    group_name = group[0]
    data = group[1]
    print(group_name)

('OJ', 0.5)
('OJ', 1.0)
('OJ', 2.0)
('VC', 0.5)
('VC', 1.0)
('VC', 2.0)

While bad practice, examine the effects of calculating multiple t-tests with the various combinations of these. To do this, generate all combinations of the above groups. For each pairwise combination, calculate the p-value of a 2-sided t-test. Print the group combinations and their associated p-value for the two-sided t-test.

In [20]:
# Your code here; reuse your t-test code above to calculate the p-value for a 2-sided t-test
# for all combinations of the supplement-dose groups listed above. 
# (Since there isn't a control group, compare each group to every other group.)
for group_name, group in df.groupby(['supp', 'dose'])['len']:
    print(group_name)

('OJ', 0.5)
('OJ', 1.0)
('OJ', 2.0)
('VC', 0.5)
('VC', 1.0)
('VC', 2.0)

In [43]:
import itertools

grouped = df.groupby(['supp', 'dose'])['len']
combos = itertools.combinations(grouped.groups.keys(), 2)
#grouped.get_group(('OJ', 0.5))
for combo in combos:
    
    t = stats.ttest_ind(grouped.get_group(combo[0]), 
                        grouped.get_group(combo[1]),
                        equal_var=False)

    print(combo)
    print(t)

(('OJ', 0.5), ('OJ', 1.0))
Ttest_indResult(statistic=-5.048634657337134, pvalue=8.784919055161479e-05)
(('OJ', 0.5), ('OJ', 2.0))
Ttest_indResult(statistic=-7.81702129580037, pvalue=1.3237838776972294e-06)
(('OJ', 0.5), ('VC', 0.5))
Ttest_indResult(statistic=3.1697327836708125, pvalue=0.006358606764096813)
(('OJ', 0.5), ('VC', 1.0))
Ttest_indResult(statistic=-2.1863610837918044, pvalue=0.04601033257637553)
(('OJ', 0.5), ('VC', 2.0))
Ttest_indResult(statistic=-6.232482137515355, pvalue=7.196253524006043e-06)
(('OJ', 1.0), ('OJ', 2.0))
Ttest_indResult(statistic=-2.2477612380279295, pvalue=0.039195142046244004)
(('OJ', 1.0), ('VC', 0.5))
Ttest_indResult(statistic=9.740112783652796, pvalue=3.6552067303259103e-08)
(('OJ', 1.0), ('VC', 1.0))
Ttest_indResult(statistic=4.03276963371935, pvalue=0.001038375872299884)
(('OJ', 1.0), ('VC', 2.0))
Ttest_indResult(statistic=-1.757441811684785, pvalue=0.09652612338267014)
(('OJ', 2.0), ('VC', 0.5))
Ttest_indResult(statistic=14.966531872499512, pvalue=1.3621396478988818e-11)
(('OJ', 2.0), ('VC', 1.0))
Ttest_indResult(statistic=8.032500849718916, pvalue=2.3610742020468435e-07)
(('OJ', 2.0), ('VC', 2.0))
Ttest_indResult(statistic=-0.046136104909230764, pvalue=0.9638515887233756)
(('VC', 0.5), ('VC', 1.0))
Ttest_indResult(statistic=-7.463430071764639, pvalue=6.811017702865016e-07)
(('VC', 0.5), ('VC', 2.0))
Ttest_indResult(statistic=-10.387795220200884, pvalue=4.6815774144921145e-08)
(('VC', 1.0), ('VC', 2.0))
Ttest_indResult(statistic=-5.469813691189401, pvalue=9.155603056638692e-05)

## Summary

In this lesson, you implemented the ANOVA technique to generalize testing methods to multiple groups and factors.